extends layout.pug

block header
	header
		.header-main
			.wrapper
				.content.row-between
					.pic.pic-logo
					.btn-toggle.js-toggle(target="header" set="is-open")
						.toggle-bar.toggle-bar-1
						.toggle-bar.toggle-bar-2
						.toggle-bar.toggle-bar-3
						.toggle-bar.toggle-bar-4

		.header-menu.menu(type="signup")
			.wrapper
				.content.col-between.content-inner
					
					.menu-nav.content-width.row-between
						.menu-nav__item.sub-title.js-option(type="signup" target=".menu") REGISTRATION
						.menu-nav__item.sub-title.js-option(type="signin" target=".menu") LOGIN

					.menu-form(type="signup").content-width.col-between
						.menu-form__item.js-select
							.menu-form__input
								input.menu-form__field.js-tip(type="email" autocomplete="off")
								.menu-form__placeholder Your e-mail
							.menu-form__tip
						.menu-form__item.js-select
							.menu-form__input
								input.menu-form__field.js-tip(type="username" autocomplete="off")
								.menu-form__placeholder Username
							.menu-form__tip
						.menu-form__item.js-select
							.menu-form__input
								input.menu-form__field.js-tip(type="password" autocomplete="off")
								.menu-form__placeholder Password
							.menu-form__tip

					.menu-form(type="signin").content-width.col-between
						.menu-form__item.js-select
							.menu-form__input
								input.menu-form__field.js-tip(type="username" autocomplete="off")
								.menu-form__placeholder Username
							.menu-form__tip
						.menu-form__item.js-select
							.menu-form__input
								input.menu-form__field.js-tip(type="password" autocomplete="off")
								.menu-form__placeholder Password
							.menu-form__tip
						.menu-form__btn.js-option(type="forget" target=".menu")
							| Forget password?

					.menu-form(type="forget").content-width.col-between
						.menu-form__item.js-select
							.menu-form__input
								input.menu-form__field.js-tip(type="e-mail" autocomplete="off")
								.menu-form__placeholder Your e-mail
							.menu-form__tip

					.menu-btn.btn-circle.js-submit(type="auth")
						.btn-circle__title SUBMIT
						.btn-circle__border

block scripts
	script(src="./js/guest.js")