doctype html
html

    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title HardwayEnglish
        link(
            rel="shortcut icon"
            href="/favicon.ico"
            type="image/ico"
        )
        block link

    body
        
        //- NAVIGATION 
        header
            block header

        //- VIEW AREA [blocks loading throught JavaScript]
        #view
            
        //- COPYRIGHT
        footer Copyright 2018 - HardwayEnglish licensed under the <a href="https://opensource.org/licenses/mit-license.php">MIT license</a>.


    script(src="/js/main.js")