extends layout.pug

block header
	.header-main
		.wrapper
			.content.row-between
				.pic.pic-logo
				.btn-toggle.js-toggle(target="header" set="is-open")
					.toggle-bar.toggle-bar-1
					.toggle-bar.toggle-bar-2
					.toggle-bar.toggle-bar-3
					.toggle-bar.toggle-bar-4

	.header-menu.menu(type="signup")
		.wrapper
			.content.col-between.content-inner

				.menu-wellcome
					.sub-title Hello, #{user.name}

				.menu-options.content.col-center
					a.menu-options__item.sub-title.js-link.js-toggle(target="body" set="open-menu" href="/collections") Collections
					a.menu-options__item.sub-title.js-submit.js-toggle(target="body" set="open-menu" type="logout") Logout


block link
	link(rel="stylesheet" href="/css/member.css")
