@font-face {
	font-family: 'Comfortaa';
	src: url('/fonts/comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
	font-family: 'Bitter';
	src: url('/fonts/bitter/Bitter-Regular.ttf');
}

body {
	font-family: 'Comfortaa';
	color: $dark;
}

.title {
	font-size: 36px;
}

.sub-title {
	font-size: 24px;
}

.underline {

	position: relative;
	display: block;

	&::after {
		position: absolute;
		content: '';
		height: 2px;
		bottom: 0;
		left: 0;
		right: 0;
		width: 0%;
		transition: all .25s ease;
	}

	&::before {
		position: absolute;
		content: '';
		height: 2px;
		bottom: 0;
		left: 0;
		right: 0;
		width: 0%;
		transition: all .25s ease;
	}
}