@font-face {
	font-family: 'Comfortaa';
	src: url('/fonts/comfortaa/Comfortaa-Regular.ttf');
}

body {
	font-family: 'Comfortaa';
}

.title {
	color: #353535;
	font-size: 36px;
}

.sub-title {
	color: #353535;
	font-size: 24px;
}