.collections
	.wrapper
		.collections-title.title Collections

		section(type="wait").content-nosize.col-beetwen
			
			.collections-item.content.row-beetwen
				.collections-status
				.collections-description.content-inner
					.collections-name.sub-title Future
					.collections-infoooo.content-width.row-between
						.collections-info Stage 2/3
						.collections-info 3:21 min