.collection
	.wrapper
		.collection-title.title Collections

		section.collection-section(type="wait").card-mobile

			//- .collection-subtitle.sub-title Wait

			.collection-group.content.col-between
				.collection-item.card.content-nosize.row-between
					.collection-status
					.collection-description
						.collection-name.sub-title Future
						.content-width.row-start
							.collection-info Stage 2/3
							.collection-info 3:21 min

		section.collection-section(type="exam").is-close.card-mobile

			.collection-subtitle.sub-title Exam

			.content-inner
				.collection-group.content.row
					
					.collection-item.card.content-nosize.row-between
						.collection-status
						.collection-description
							.collection-name.sub-title Future
							.content-width.row-start
								.collection-info Stage 2/3
								.collection-info 3:21 min

					.collection-item.card.content-nosize.row-between
						.collection-status
						.collection-description
							.collection-name.sub-title Future
							.content-width.row-start
								.collection-info Stage 2/3
								.collection-info 3:21 min

					.collection-item.card.content-nosize.row-between
						.collection-status
						.collection-description
							.collection-name.sub-title Future
							.content-width.row-start
								.collection-info Stage 2/3
								.collection-info 3:21 min

					.collection-item.card.content-nosize.row-between
						.collection-status
						.collection-description
							.collection-name.sub-title Future
							.content-width.row-start
								.collection-info Stage 2/3
								.collection-info 3:21 min

					.collection-btn.btn-circle.js-toggle(target=".collection-section[type='exam']" set="is-close")
						.btn-circle__title MORE
						.btn-circle__border


