.inner
	.intro
		.content.col-between.content-inner
			.slogan
				span.text
				span.status
			.intro-btn.js-toggle(target="body" set="shut-intro")
				.intro-btn__title PUSH
				.intro-btn__border


	.intro-description
		.wrapper
			section.concept
				.title Concept
				.content
					.card Every sweet Victory requires hard patience and experience. We can't see any easy way of learning english. You should repeat rules and work pretty hard out.

			section.features
				.title Features
				.content.slider.col-between
					.slider-group
						.slider-item
							.slider-card.card.color-1
								.slider-title RULES
								.slider-description Over 100 English grammar rules are available for you already right now. We thought that it's not enough, so we are adding up even more rules and quizzes as well as improving current content.

						.slider-item
							.slider-card.card.color-2
								.slider-title EXAMPLES
								.slider-description In order to improve your grammar, you need to re-type the given text with the applied grammar rules.

						.slider-item
							.slider-card.card.color-3
								.slider-title TESTS
								.slider-description We are fond of the computer games from 90s with their feature of being unable to auto-save anytime you want. Same as in old games - you will need to get it to the level of perfection - any mistake will get you all the way back - no matter how far have you gone.

						.slider-item
							.slider-card.card.color-4
								.slider-title TEAM
								.slider-description Our team is young, agile and ambitiously powerful driven by the idea of bringing English (even though it's hardway) to everyone! So, if you are an English professor, native speaker or just an advanced English speaker, then you are welcome to join our team!

					.slider-navigation.content-width.row-center
						.slider-navigation--item.active
						.slider-navigation--item
						.slider-navigation--item
						.slider-navigation--item

			section.creators
				.title Creators
				.content
					.creators-item
						.creators-img.max
							.creators-description
								.title Max Zueff
								.sub-title Web Developer
					.creators-item
						.creators-img.egor
							.creators-description
								.title Egor Zmaznev
								.sub-title Content Maker
					.creators-item
						.creators-img.user
								.title You
								.sub-title You can make our project better! Go to GitHub or GitBook and offer ideas!
				

			section.start
				.title Let's start it!
				.sub-title Our project is absolutle free! To start use it just push the button.
				.start-btn.js-toggle(target="header" set="is-open")
					.start-btn__title SIGN UP
					.start-btn__border

		//- footer Copyright 2018 - HardwayEnglish licensed under the <a href="https://opensource.org/licenses/mit-license.php">MIT license</a>.
