.rule
    .wrapper
        .rule-title.card-mobile Rules

        .rule-navigation
            .navigation-line
                .navigation-item
                    .navigation-selected.js-trigger.centered
                .navigation-item
                .navigation-item
                .navigation-item
                .navigation-item
