.pic {
	display: block;
}

.pic-logo {
	width: 210px;
	height: 28.56px;
	background-size: contain;
	background-image: url(/images/logo.png);
}

.pic-toggle {
	cursor: pointer;
	width: 30px;
	height: 19px;
	position: relative;

	.toggle-bars {
		background: #fff;
		height: 3px;
	    position: absolute;
	    left: 0;
	    right: 0;
		width: 100%;
		transition: all .25s ease;
	}

	.toggle-bar-1 {
		top: 0;
	}

	.toggle-bar-2, .toggle-bar-3 {
		top: 0;
	    bottom: 0;
	    margin: auto;
	}

	.toggle-bar-4 {
		bottom: 0;
	}
}
