@mixin set-color($type, $bg, $item) {

	.collection-section[type=#{$type}] {

		// Block Styles
		.collection-group { background: $bg; }
		.collection-total { color: $item }

		// SVG Styles
		.ring { stroke: $item; fill: $bg; }
		.ring-icon { fill: $item; }

		@if ($bg == white) {
			.ring-fill { stroke: $grey; }
		}

		@else {
			.ring-fill { stroke: white; }
		}
	}
}

@each $type, $color in $ring-colors {
	@include set-color($type, nth($color, 1), nth($color, 2));
}

.collection {
	
	.collection-title { 
		@extend .card, .title;
		background: $grey;
	}

	.collection-section { 
		// @extend .content-inner;
		position: relative;
		overflow: hidden;
		padding-top: 30px;
	}
}

.collection-section {

	.collection-subtitle {
		@extend .content-nosize, .row-between;
		padding: 15px 30px;
	}

	.collection-total {
		font-size: 12px;

		&__count {
			font-size: 18px;
			padding-left: 15px;
		}
	}

	.collection-group {
		@extend .content, .row;
		padding-top: 30px;

		.collection-item {
			@extend .content-nosize, .row-between, .card;
			padding-top: 0px;
			height: 75px;
			flex: 1;
		}
	}

	.collection-btn {
		@extend .btn-circle;
		transition: all .5s ease;
		display: block;
		right: -100%;
		bottom: 40px;
		position: absolute;
		background: $orange;
		color: white;
	}
}

.collection-section#{$is-close} {
	
	.collection-group {
		height: 105*3px;
		overflow: hidden;
		margin-bottom: 80px;
	}

	.collection-btn {
		right: 30px;
	}
}

.collection-item {

	.animation {
		.ring-icon { opacity: 0 }
		.collection-status {
			animation: rotate 3s linear infinite;
		}
	}

	.collection-status {
		width: 75px;
		height: 75px;
		border-radius: 50%;
		overflow: hidden;
	}

	.collection-description {
		flex: 1;
		padding-left: 30px;
		min-width: 150px;
		text-align: left;

		.collection-name {
			font-size: 18px;
			width: 100%;
		}

		.collection-info {
			font-size: 12px;
			padding-top: 10px;

			&:last-child {
				padding-left: 30px;
			}
		}		
	}
}