.wrapper {
	width: 100%;
	height: 100%;
	padding: 0 30px;
	box-sizing: border-box;
}

.content {
	display: flex;
	height: 100%;
	width: 100%;
}

.content-width {
	display: flex;
	width: 100%;
}

.content-nosize {
	display: flex;
}

.content-inner {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#view {
    box-sizing: border-box;
    position: relative;
    padding-top: 60px;
}

.content-center-v {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
    text-align: center;
}

.content-center-h {
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.content-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

footer {
	height: 60px;
	width: 100%;
	background: #EBEBEB;
	font-size: 12px;
	padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #595959;
    position: relative;
}

$direction: ( col: column, row: row );
$justify: (
	center: center,
	between: space-between,
	end: flex-end,
	start: flex-start
);

@each $name, $prop in $direction {
	@each $sub-name, $sub-prop in $justify {
		.#{$name}-#{$sub-name} {
			flex-direction: $prop;
			justify-content: $sub-prop;
			align-items: center;
		}
	}
}

.row {
	flex-direction: row;
	flex-wrap: wrap;
}
