#{$is-open} .header-main {
	background: #202020;
}

#{$is-open} .header-menu {
	bottom: 0;
	padding-top: 100px;
}

.header-main {
	position: fixed;
	z-index: 1000;
	top: 0;
	height: 60px;
	width: 100%;
	background: #55C1A4;
	transition: all .25s ease;
}

.header-menu {
	padding-top: 60px;
	position: fixed;
	z-index: 900;
	top: 0;
	left: 0;
	right: 0;
	bottom: 100%;
	width: 100%;
	background: #202020;
	box-sizing: border-box;
	transition: all .5s ease;
}
