header {
	background: #55C1A4;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	transition: all .25s ease;
}

footer {
	height: 60px;
	width: 100%;
	background: #EBEBEB;
	font-size: 14px;
	padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: #595959;
}