.rule-title {
	@extend .card, .title;
	background: $grey;
}

.rule-navigation {
    padding-top: 80px;
    position: relative;

    .navigation-inner {
        position: relative;
    }

    .navigation-line {
        @extend .content-nosize, .row;
        position: relative;
        height: 5px;
        border-radius: 3px;
        background: $grey;
        margin: 30px 0px;
    }

    .navigation-item {
        flex: 1;
        position: relative;

        &:nth-child(n + 2):before {
            content: '';
            position: absolute;
            left: -3px;
            bottom: 0px;
            width: 6px;
            height: 10px;
            border-radius: 3px;
            background: $grey;
        }

        &:before {
            content: '';
            
        }
    }

    .navigation-selected {
        @extend .content-center-v;
        z-index: 1;
        cursor: pointer;
        display: block;
        box-sizing: border-box;
        border-radius: 100%;
        background: $green;
        width: 20px;
        height: 20px;
        border: solid 4px $grey;
    }

    .navigation-selected.locked { background: $red; }
    .navigation-selected.allowed { background: $green; }
    .navigation-selected.center { transition: all 0.2s ease; }

    .navigation-triangle {
        @extend .content-center-h;
        user-select: none;
        top: -30px;
        width: 15px;
        height: 14px;
    }

    .navigation-title {
        @extend .sub-title;
        @extend .content-center-h;
        user-select: none;
        top: -60px;
        opacity: 0;
    }

    .js-trigger > .navigation-title {
        opacity: 1;
    }


    .allowed {
        .navigation-title { color: $green; }
    }

    .locked {
        .navigation-title { color: $red; }
        
    }

    .navigation-selected + .navigation-title { 
        opacity: 1;
    }


}
